 
 
*{margin: 0;padding: 0;
box-sizing: border-box;}
a{text-decoration: none;
color: inherit;}
li{list-style: none;}
h1 {
  font-family: myfontnanum;
  font-weight: bold;
  font-size: 40px;
  color: #36898b;
}
h2 {
  font-family: myfontnanum;
  font-weight: normal;
  font-size: 30px;
  color: #36898b;
}
h3 {
  font-family: myfontnanum;
  font-weight: normal;
  font-size: 20px;
  color: #36898b;
}

.inner {
  width: 1200px;
  margin: auto;
}
.flex {
  display: flex;
}
.btn {
  padding: 10px;
  border: 1px solid #36898b;
  color: #36898b;
  font-family: myfontnanum;
  font-weight: normal;
  border-radius: 8px;
}
.btn:hover{
  background-color: #36898b;
  color: #f9f9ef;
}


/* header---------------------------------------- */

header {
  width: 100%;
  height: 100px;
  background: #cbe5dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  width: 200px;
}
ul.menu {
  justify-content: space-between;
  gap: 10px;
  font-family: myfontnanum;
  font-weight: normal;
  font-size: 20px;
  color: #36898b;
}

ul.menu li:nth-child(2) {
  color: #ff8267;
}

ul.login {
  width: 300px;
  justify-content: space-between;
  gap: 5px;
  font-family: myfontnanum;
  font-weight: normal;
  font-size: 15px;
}

/* ---main---------------------------------- */

/* top---------------- */
.top {
  height: 750px;
  background-image: url(./banner1.png);
  background-size: cover;
  position: relative;
}

.top .desc {
  position: absolute;
  text-align: left;
  top: 30%;
  left: 10%;
  color: #36898b;
}

.top .desc h1 {
  padding-bottom: 20px;
}

.top .btn {
  position: absolute;
  top: 50%;
  left: 15%;
}

/* timedeal------------ */

.timedeal .inner {
  height: 650px;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  padding: 20px;
}

.timedeal img {
  width: 30%;
}

.timedeal .desc h2 {
  padding-bottom: 20px;
}
.timedeal .desc p {
  padding-bottom: 5px;
}

/* recommand------------ */
.recommand {
  height: 650px;
  background: #f9f9ef;
}

.recommand .inner {
  text-align: center;
  padding: 40px;
  margin: auto;
  position: relative;
}
.recommand img {
  width: 100%;
}

.product {
  width: 700px;
  margin: 30px auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.product1,
.product2 {
  width: 300px;
  height: 450px;
  background: #fff;
}

.product1 h3,
.product2 h3 {
  padding-top: 10px;
}

.recommand .btn {
  width: 70px;
  position: absolute;
  left: 47%;
}



/* review--------------- */
.review {
  height: 650px;
  background: #f0e7d6;
  text-align: center;
}

.review h2 {
  padding: 10px 20px;
}

.r_inner {
  width: 1100px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.r_inner .col {
  padding: 15px;

  width: 50%;
  height: 80%;
}

.review .box {
  height: 50%;
  display: flex;
  justify-content: space-between;

  padding: 5px;
  margin-bottom: 10px;
}

.review h3 {
  margin: 10px 0;
}

.r_inner .desc {
  width: 50%;
  margin: 0 15px;
}

.r_inner p {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.r_inner img {
  width: 50%;
}

.r_inner .box2 .desc {
  order: 2;
}

.r_inner .box1 img {
  order: 1;
}

/* brand story------------- */

.brand {
  height: 750px;
  background-image: url(./banner2.jpg);
  background-size: cover;
  position: relative;
}

.brand h1 {
  position: absolute;
  text-align: left;
  top: 30%;
  left: 10%;
}

.brand .btn {
  position: absolute;
  top: 50%;
  left: 15%;
}

/* footer---------------- */

footer {
  height: 300px;
  padding: 20px;
  display: flex;
}

footer .col1 {
  width: 50%;
  padding: 20px;
}
footer .col2,
footer .col3 {
  width: 25%;
  padding: 20px;
}

footer h3 {
  padding-bottom: 10px;
}

footer .col2 .row1 {
  padding-bottom: 15px;
}

footer .col1 img {
  width: 20%;
}
