@import url(./reset.css);
.flex{display: flex;}
ul.work{max-width: 1200px;margin: auto;}
ul.work li{display: flex;gap:1.5rem;
 }
span.date{
  display: block;
  font-size: 23px;
  padding-top: 6px;}
h3{font-size: 48px;margin-bottom: 10px;
color: royalblue;font-weight: normal;}
p.desc{font-size: 16px;}
ul.work li:hover h3{ color:#d13f00}