@import url(/reset.css);
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #efefef;
}
header h1 {
  position: absolute;
  left: 40px;
}
header nav {
  width: 786px;
  left: 40px;
}
header nav ul {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.gnb {
  position: absolute;
  right: 40px;
  width: 237px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.gnb li.search {
  width: 18px;
  height: 18px;
  background: url(./imgs/header_sch.png);
}
header ul.gnb li.none {
  color: transparent;
}
header ul.gnb li.mall {
  width: 46px;
  height: 30px;
  background: url(./imgs/logo_chill_mall.png);
}

section .sticky-title {
  font-size: 240px;
  position: sticky;
  top: 150px;
  text-align: center;
  border: 1px solid #f00;
  margin-top: 150px;
}
section .container {
  width: 1024px;
  margin: auto;
}
section#sect1 {
  height: 100vh;
}
section#sect1 .swiper .swiper-slide.slide1 {
  background: url(./imgs/202408280352452020.png);
}
section#sect1 .swiper .swiper-slide.slide2 {
  background: url(./imgs/202408291128216430.png);
}
section#sect1 .swiper .swiper-slide.slide3 {
  background: url(./imgs/202408280608145780.png);
}
section#sect1 .swiper .swiper-slide.slide4 {
  background: url(./imgs/202408290410578540.png);
}
section#sect1 .swiper .swiper-slide.slide5 {
  background: url(./imgs/202010280628151570.jpg);
}
section#sect1 .swiper .swiper-slide.slide6 {
  background: url(./imgs/202010280624033660.jpg);
}
section#sect1 .swiper .swiper-slide.slide7 {
  background: url(./imgs/202010280638337510.jpg);
}
section#sect1 .slide-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
section#sect1 .slide-menu .paging-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
section#sect1 .slide-menu .paging-menu li {
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  background-image: url(./imgs/mainRoll_indi.png);
}
section#sect1 .slide-menu .paging-menu li.on {
  background-image: url(./imgs/mainRoll_indi_on.png);
}
section#sect1 .slide-menu a.pause {
  display: inline-block;
  width: 9px;
  height: 11px;
  color: transparent;
  background-image: url(./imgs/btn_pause.png);
}
section#sect1 .slide-menu a.pause.active {
  background-image: url(./imgs/btn_play.png);
}
section#sect1 a.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
section#sect1 a.prev {
  left: 10px;
}
section#sect1 a.next {
  right: 10px;
}
section#sect2 h2 {
  color: rgb(145, 145, 145);
  z-index: -1;
  line-height: 0.5;
}
section#sect2 .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section#sect2 .container ul li:nth-child(even) {
  margin-top: 100px;
}
section#sect2 .notice {
  height: 80px;
  background: #eee;
}
section#sect3 {
  position: relative;
  height: 1370px;
  border: 1px solid #000;
}
section#sect3 .video-bg {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
section#sect3 .video-bg video {
  height: 100%;
}
section#sect3 .video-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(39, 145, 115, 0.9);
}
section#sect3 .sticky-title h2 {
  color: #fff;
  line-height: 1;
}
section#sect3 .sticky-title p {
  font-size: 24px;
  color: #fff;
}
section#sect3 .tab-content {
  width: 1024px;
  margin: auto;
  position: relative;
  height: 470px;
  background: #fff;
  margin-top: 130px;
}
section#sect3 .tab-content article {
  border: 1px solid #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
section#sect3 .tab-content article.on {
  z-index: 10;
  opacity: 1;
}
section#sect3 .tab-content article.on .product-summary p.title {
  opacity: 1;
  letter-spacing: -8px;
  z-index: 20;
}
section#sect3 .tab-content article.on .product-summary h2 {
  opacity: 1;
}
section#sect3 .tab-content article.on .product-summary p.desc {
  opacity: 1;
  letter-spacing: -2px;
}
section#sect3 .tab-content article.on .product-summary ul.btn {
  opacity: 1;
}
section#sect3 .tab-content article .product-summary > * {
  left: 60px;
  position: absolute;
}
section#sect3 .tab-content article .product-summary p.title {
  color: #333;
  top: 60px;
  font-size: 50px;
  margin-bottom: 20px;
  transition: 0.35s;
}
section#sect3 .tab-content article .product-summary p.title.mutiline {
  line-height: 1;
}
section#sect3 .tab-content article .product-summary h2 {
  top: 130px;
  margin-bottom: 35px;
  font-size: 80px;
  transition: 0.5s;
}
section#sect3 .tab-content article .product-summary h2.mutiline {
  top: 180px;
}
section#sect3 .tab-content article .product-summary p.desc {
  color: #666;
  top: 245px;
  font-size: 18px;
  margin-bottom: 49px;
  transition: 0.75s;
}
section#sect3 .tab-content article .product-summary p.desc.mutiline {
  top: 295px;
}
section#sect3 .tab-content article .product-summary ul.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  bottom: 60px;
  font-size: 20;
  transition: 1s;
}
section#sect3 .tab-content article .product-summary ul.btn li {
  width: 180px;
  text-align: center;
  padding: 18px 0px;
  background: #149f5c;
  font-size: 20px;
  color: #fff;
  border-radius: 999px;
  cursor: pointer;
}
section#sect3 .tab-content article .product-img {
  position: absolute;
  bottom: 536px;
  right: 420px;
}
section#sect3 .tab-content article .product-img img {
  position: absolute;
  border: 1px solid #f00;
}
section#sect3 .menu-item {
  position: relative;
}
section#sect3 .menu-item .menu-line {
  height: 1px;
  width: 100%;
  background: #fff;
  margin-top: 40px;
  opacity: 0.8;
}
section#sect3 .menu-item .menu {
  width: 1024px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#sect3 .menu-item .menu li {
  text-align: center;
  color: #fff;
  font-size: 18px;
}
section#sect3 .menu-item .menu li a {
  opacity: 0.8;
}
section#sect3 .menu-item .menu li a.on {
  font-weight: bold;
  opacity: 1;
}

footer {
  height: 410px;
  background: #eee;
}