/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* Body 기본 스타일 */
body {
    width: 100%;
    font-family: 'PT Serif', serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.just-sb {
    justify-content: space-between;
}

.wrap {
    margin: 3%;
    border: 1px solid #000;
    justify-content: space-between;
}

article img {
    width: 100%;
}

footer {
    font-size: 12px;
    text-align: center;
    position: relative;
}

footer::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 40px;
    background: url(./images/ornament.png) center no-repeat;
}

article li {
    text-align: center;
}

figcaption {
    font-size: 0.7em;
    line-height: 1.5em;
    margin: 0.5em 0 0 0;
}

figcaption span {
    font-weight: bolder;
    font-size: initial;
    letter-spacing: 0.15em;
}

nav li {
    font-size: 0.7em;
    text-align: center;
    background-image: url(./images/ornament.png);
}

a {
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    transition: 0.3s ease;
}

a:hover {
    color: red;
}

span {
    font-size: 16px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

  nav {
        }
        /*   order: 1;

    }
   h1 {
        order: 2;

    } */
    header{flex-flow: column-reverse;}

    nav ul {
        width: 100%;
        display: flex;
    }

    nav ul li {
        flex: 1;

    }



    article ul li {
        width: 48%;
    }

    main {
        width: 100%;
    }
}



@media (min-width: 601px) {
    article ul li {
        width: 31%;
    }

    main {
        width: 66%;
        border: 1px solid #aa0;
    }

    header {
        width: 32%;

    }

    nav ul a li span {
        font-weight: bolder;
        font-size: initial;
        letter-spacing: 0.15em;
    }

    article ul li {

        width: 32%;
    }

    nav {
        width: 60%;
        margin: auto;
    }

    #logo {

        background-image: url(./images/logo-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 311px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media (min-width: 1300px) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    h1 {
        width: 32%;
    }

    nav {
        width: 66%;
        border: 1px solid #000;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1
    }

    article ul li {
        border: 1px solid #000;
        width: 16%;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #f00;
        align-items: flex-end;
    }

    footer {
        width: 66%;
    }

    section {
        width: 66%;
        border: 1px solid #000;
    }



}