@import "/reset.css";

// menuIcon//////////////////////////////////
header {
  .gnb {
    padding: 10px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-icon {
      display: inline-block;
      cursor: pointer;
      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }

      &.change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }

      &.change .bar2 {
        opacity: 0;
      }

      &.change .bar3 {
        transform: translate(0, -7px) rotate(45deg);
      }
    }
    h1 img {
      width: 200px;
    }
    .fa-solid {
      font-size: 20px;
    }
  }
  .nav {
    height: 0;
    transition: 0.35s;
    overflow: hidden;
  }
  .nav ul {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #000;
    li {
      width: 50%;
      text-align: center;
      a {
        color: #fff;
        display: block;
        padding: 10px;
      }
    }
  }

  .login-form {
    height: 0;
    transition: 0.35s;
    overflow: hidden;
    &.on {
      height: 100px;
    }

    form {
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .row {
        display: flex;
        margin-bottom: 4px;
        label {
          padding: 10px;
          display: block;
          width: 70px;
          font-weight: bold;
          text-align: center;
        }
        input[type="text"] {
          width: 200px;
        }
      }
      input[type="submit"] {
        background: #000;
        color: #fff;
        padding: 14px;
        border: none;
      }
    }
  }
}
.product {
  figure {
    padding: 1rem;
    img {
      width: 100%;
    }
  }
  button {
    display: block;
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
  }
  .desc {
    height: 0;
    overflow: hidden;
    transition: .35s;
    &.on{height: 300px;}
    .productname {
      background: #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      em {
        display: inline-block;
        padding: 10px;
        font-weight: bold;
        font-style: normal;
      }
      ul {
        flex: 1;
        li {
          font-size: 12px;
          padding: 10px;
          display: none;
          &.on {
            display: block;
          }
        }
      }
    }
    .detail li{
        padding: 10px;
        font-size: 12px;
        display: none;
        &.on{display: block;}
    }
    ul.item {
      display: flex;
      flex-wrap: wrap;
      background: #000;
      li {
        width: 33.3333%;
        text-align: center;
        padding: 10px;
        color: #fff;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 80%;
          height: 2px;
          background: yellowgreen;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          display: none;
        }
        &.on {
          color: yellowgreen;
        }
        &.on:after {
          display: block;
        }
      }
    }
    .cart {
      background: #333;
      padding: 10px;
      text-align: center;
      color: #fff;
      border-top: 1px solid #efefef;
      &.on {
        background: yellowgreen;
        color: #000;
      }
    }
  }
}
