@charset "utf-8";
@import url(/reset.css);
@font-face {
  font-family: "NotoSerifKR";
  src: url("font/NotoSerifKR-Medium.woff2") format("woff2");
  src: url("font/NotoSerifKR-Regular.woff2") format("woff2");
  src: url("font/NotoSerifKR-SemiBold.woff2") format("woff2");
}

/* common */
html {
  font-family: "NotoSerifKR";
  font-size: 62.5%;
  /* 1rem = 10px / 1.5rem = 15px */
}

img {
  max-width: 100%;
}

.blind {
  display: none;
}

#skip a {
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  z-index: 9999;
}
#skip a:focus {
  top: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* //common */
