* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.title {
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -3px;
  margin: 0 0 25px 0;
  @media screen and (max-width: 640px) {
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -2px;
    margin: 0 0 40px 0;
  }
  @media screen and (min-width: 641px) {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 0 0 35px 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    margin: 0 0 25px 0;
  }
  @media screen and (min-width: 1700px) {
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -3px;
    margin: 0 0 25px 0;
  }
}

.title-desc {
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -1px;
  margin: 0 0 60px 0;
  @media screen and (max-width: 640px) {
    font-size: 17px;
    line-height: 26px;
  }
  @media screen and (min-width: 641px) {
    font-size: 19px;
    line-height: 29px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 21px;
    line-height: 31px;
  }
  @media screen and (min-width: 1700px) {
    font-size: 22px;
    line-height: 35px;
  }
}

section {
  width: 100%;
  height: 100vh;
}

.sect1 {
  background: url(../img/section01.jpg) no-repeat center center/cover;
}
.sect2 {
  background: url(../img/section02.jpg) no-repeat center center/cover;
}
.sect3 {
  background: url(../img/section03.jpg) no-repeat center center/cover;
}
.sect4 {
  background: url(../img/section04.jpg) no-repeat center center/cover;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

// main visual
.main-visual-sect {
  .inner-box {
    width: 100%;
    height: 100%;
    .slide.on {
      z-index: 1;
      opacity: 1;
    }
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: 0;
      transition: 1.5s;
      transition-timing-function: linear;
      > div {
        position: relative;
        width: 100%;
        height: 100%;
        .text-box {
          position: absolute;
          top: 50%;
          left: 50%;
          white-space: nowrap;
          p {
            font-size: 32px;
            font-weight: 500;
            line-height: 60px;
            b {
              font-size: 45px;
              font-weight: 500;
              letter-spacing: -2px;
            }
            em {
              font-size: 70px;
              font-weight: 500;
            }
          }
          @media screen and (max-width: 640px) {
            text-align: center;

            p {
              font-size: 20px;
              font-weight: 500;
              line-height: 50px;
              b {
                font-size: 25px;
                font-weight: 500;
              }
              em {
                font-size: 42px;
                font-weight: 500;
                letter-spacing: -2px;
              }
            }
          }
          @media screen and (min-width: 641px) {
            p {
              font-size: 26px;
              font-weight: 500;
              line-height: 50px;
              b {
                font-size: 38px;
                font-weight: 500;
              }
              em {
                font-size: 58px;
                font-weight: 500;
                letter-spacing: -2px;
              }
            }
          }
          @media screen and (min-width: 1280px) {
            p {
              font-size: 26px;
              font-weight: 500;
              line-height: 50px;
              b {
                font-size: 38px;
                font-weight: 500;
              }
              em {
                font-size: 58px;
                font-weight: 500;
                letter-spacing: -2px;
              }
            }
          }
          @media screen and (min-width: 1400px) {
            p {
              font-size: 28px;
              font-weight: 500;
              line-height: 60px;
              b {
                font-size: 40px;
                font-weight: 500;
              }
              em {
                font-size: 62px;
                font-weight: 500;
                letter-spacing: -1px;
              }
            }
          }
          @media screen and (min-width: 1700px) {
            p {
              font-size: 32px;
              font-weight: 500;
              line-height: 60px;
              b {
                font-size: 45px;
                font-weight: 500;
                letter-spacing: -2px;
              }
              em {
                font-size: 70px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .scene1 {
      background: url(../img/v_img01_sdown.jpg) no-repeat center center/cover;
      .text-box {
        text-align: center;
        transform: translate(-50%, -70%);
        @media screen and (min-width: 1700px) {
          p {
            line-height: 8rem;
          }
        }
      }
    }
    // slide 2
    .scene2 {
      background: url(../img/v_img02.jpg) no-repeat center center/cover;
      .text-box {
        @media screen and (max-width: 640px) {
          transform: translate(-50%, -60%);
        }
        @media screen and (min-width: 641px) {
          transform: translate(-85%, 40%);
        }
        @media screen and (min-width: 1280px) {
          transform: translate(-160%, 40%);
        }
        @media screen and (min-width: 1700px) {
          transform: translate(-150%, 50%);
        }
      }
    }
    // slide 3
    .scene3 {
      background: url(../img/v_img03.jpg) no-repeat center center/cover;
      .text-box {
        @media screen and (max-width: 640px) {
          transform: translate(-90%, -300%);
        }
        @media screen and (min-width: 641px) {
          transform: translate(-100%, -350%);
        }
        @media screen and (min-width: 1280px) {
          transform: translate(-170%, -250%);
        }
        @media screen and (min-width: 1700px) {
          transform: translate(-160%, -200%);
        }
      }
    }
    // slide 4
    .scene4 {
      background: url(../img/v_img04.jpg) no-repeat center center/cover;
      .text-box {
        @media screen and (max-width: 640px) {
          transform: translate(-50%, -20%);
        }
        @media screen and (min-width: 641px) {
          transform: translate(-60%, -80%);
        }
        @media screen and (min-width: 1280px) {
          transform: translate(-110%, -80%);
        }
        @media screen and (min-width: 1700px) {
          transform: translate(-110%, -70%);
        }
      }
    }
    // slide 5
    .scene5 {
      background: url(../img/v_img05.jpg) no-repeat center center/cover;
      .text-box {
        transform: translate(-50%, -50%);
      }
    }
    // slide 6
    .scene6 {
      background: url(../img/v_img06.jpg) no-repeat center center/cover;
      .text-box {
        transform: translate(-50%, -210%);
      }
    }
    // slide 7
    .scene7 {
      background: url(../img/v_img07.jpg) no-repeat center center/cover;
      .text-box {
        transform: translate(-50%, -50%);
      }
    }
  }
}
// //main visual

// sect1
.sect1 {
  .inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    .text-box {
      position: absolute;
      top: 220px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      white-space: nowrap;

      a {
        display: block;
        background-color: #00000068;
        font-family: var(--pre-font);
        margin: auto;
        width: 320px;
        padding: 25px 0;
        font-size: 22px;
        font-weight: 600;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        &::after {
          content: "\e907";
          font-family: var(--icon-font-xe);
          display: inline-block;
          margin: 0 0 0 10px;
        }
      }
    }
    .mn-list {
      position: absolute;
      display: flex;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 1000px;
      height: 220px;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        width: 100%;
      }
      @media screen and (min-width: 641px) {
        width: 100%;
        height: 180px;
      }
      @media screen and (min-width: 768px) {
        width: 768px;
        height: 190px;
      }
      @media screen and (min-width: 1280px) {
        width: 1000px;
        height: 220px;
      }

      li:nth-child(2) {
        a {
          .icon-box {
            img {
              margin: 0 0 45px 0;
            }
          }
        }
      }
      li {
        position: relative;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.4);
        margin: 0 3px 0 0;
        transition: 0.35s;
        @media screen and (max-width: 640px) {
          width: 100%;
          height: 80px;
        }

        &:last-child {
          margin: 0;
        }

        &:hover::after,
        &:focus-within::after {
          height: 100%;
        }

        &:nth-child(1)::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 5px;
          z-index: 0;
          background-color: #22adb9;
          transition: 0.35s;
        }
        &:nth-child(1):hover::after,
        &:nth-child(1):focus-within::after {
          height: 100%;
        }

        &:nth-child(2)::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 5px;
          z-index: 0;
          background-color: #1b5bbe;
          transition: 0.35s;
        }
        &:nth-child(2):hover::after,
        &:nth-child(2):focus-within::after {
          height: 100%;
        }

        &:nth-child(3)::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 5px;
          z-index: 0;
          background-color: #d93f69;
          transition: 0.35s;
        }
        &:nth-child(3):hover::after,
        &:nth-child(3):focus-within::after {
          height: 100%;
        }

        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          font-size: 23px;
          font-weight: 500;
          font-family: var(--pre-font);
          @media screen and (max-width: 640px) {
            font-size: 18px;
            font-weight: 500;
          }
          @media screen and (min-width: 641px) {
            font-size: 19px;
            font-weight: 500;
          }
          @media screen and (min-width: 1280px) {
            font-size: 23px;
            font-weight: 500;
          }

          .icon-box {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 640px) {
              align-items: start;
              padding: 0 0 0 30px;
              &::after {
                content: "\e93f";
                display: block;
                position: absolute;
                right: 20px;
                font-family: var(--icon-font-xe);
              }
            }
            img {
              margin: 0 0 30px 0;
              @media screen and (max-width: 640px) {
                display: none;
              }
              @media screen and (min-width: 641px) {
                margin: 0 0 25px 0;
              }
              @media screen and (min-width: 1280px) {
                margin: 0 0 30px 0;
              }
            }
          }
        }
      }
    }
  }
}

// //sect1

// sect2
.sect2 {
  .inner-box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    transition: 0.35s;
    @media screen and (max-width: 1190px) {
      flex-direction: column;
      justify-content: center;
      gap: 50px;
    }
    > .text-box {
      text-align: left;
      @media screen and (max-width: 1190px) {
        text-align: center;
        width: 100%;
        margin-top: 60px;
        .title {
          font-size: 60px;
          line-height: 80px;
          @media screen and (max-width: 640px) {
            font-size: 35px;
            line-height: 45px;
          }
          @media screen and (min-width: 641px) {
            font-size: 48px;
            line-height: 58px;
          }
          @media screen and (min-width: 1280px) {
            font-size: 50px;
            line-height: 65px;
          }
          @media screen and (min-width: 1700px) {
            font-size: 60px;
            line-height: 80px;
          }
        }

        .title-desc {
          font-size: 22px;
          line-height: 35px;
          @media screen and (max-width: 640px) {
            font-size: 17px;
            line-height: 26px;
          }
          @media screen and (min-width: 641px) {
            font-size: 23px;
            line-height: 35px;
          }
          @media screen and (min-width: 1280px) {
            font-size: 21px;
            line-height: 31px;
          }
          @media screen and (min-width: 1700px) {
            font-size: 22px;
            line-height: 35px;
          }
        }
      }
      ul {
        li {
          width: 300px;
          border-bottom: 1px solid #ffffff7c;
          @media screen and (max-width: 1190px) {
            width: calc(100% - 40px);
            margin: auto;
          }
        }
        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          padding: 25px 0;
          font-family: var(--pre-font);
          font-size: 20px;
          opacity: 0.7;
          transition: 0.35s;
          @media screen and (max-width: 640px) {
            padding: 10px 0;
            font-size: 16px;
          }
          @media screen and (min-width: 641px) and (max-width: 1190px) {
            padding: 15px 0;
          }
          &:hover,
          &:focus-within {
            opacity: 1;
          }
          &::after {
            content: "\e93e";
            display: block;
            position: absolute;
            font-family: var(--icon-font-xe);
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
          span {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 29px;
              height: 29px;
            }
          }
        }
      }
    }
    .content-swiper {
      // border: 1px solid red;
      position: relative;
      overflow: hidden;
      width: 470px;
      height: 520px;
      font-family: var(--pre-font);
      margin: 0;
      @media screen and (max-width: 640px) {
        width: calc(100% - 40px);
        height: 330px;
      }

      @media screen and (min-width: 641px) and (max-width: 1190px) {
        width: calc(100% - 40px);
        height: 220px;
      }

      .swiper-slide {
        padding: 90px 0 0 50px;
        @media screen and (max-width: 1190px) {
          padding: 0;
        }
        .slide-box {
          border: 1px solid transparent;
          width: 420px;
          height: 430px;
          position: relative;
          background-color: rgba(0, 0, 0, 0.3);
          @media screen and (max-width: 640px) {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 10px 15px;
            flex-direction: column;
          }

          @media screen and (min-width: 641px) and (max-width: 1190px) {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 10px;
          }
          img {
            position: absolute;
            z-index: 1;
            width: 428px;
            top: -90px;
            left: -70px;
            @media screen and (max-width: 640px) {
              position: relative;
              top: initial;
              left: initial;
              width: 290px;
            }

            @media screen and (min-width: 641px) and (max-width: 1190px) {
              position: relative;
              top: initial;
              left: initial;
              width: 278px;
            }
          }
          .text-box {
            margin: 220px 0 0 0;
            padding: 30px;
            @media screen and (max-width: 640px) {
              margin: 0;
              padding: 30px 0;
            }

            @media screen and (min-width: 641px) and (max-width: 1190px) {
              margin: 0;
              padding: 20px;
            }
            h3 {
              font-size: 21px;
              font-weight: 700;
              margin: 0 0 10px 0;
              @media screen and (max-width: 640px) {
                font-size: 19px;
              }
            }
            p {
              font-size: 19px;
              font-weight: 300;
              line-height: 30px;
              @media screen and (max-width: 640px) {
                font-size: 15px;
                line-height: 25px;
              }
            }
          }
        }
      }
      .btn-box {
        position: absolute;
        z-index: 1;
        width: 60px;
        height: 20px;
        top: 66.5%;
        right: 40px;
        @media screen and (max-width: 640px) {
          top: 222px;
          right: 15px;
        }
        @media screen and (min-width: 641px) and (max-width: 1190px) {
          top: 25px;
          right: 10px;
        }
        .inner {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .swiper-button-prev {
            display: block;

            position: relative;
            width: 10px;
            height: 10px;
            border-width: 2px 2px 0 0;
            border-color: rgba(255, 255, 255, 0.8);
            border-style: solid;
            transform: rotate(-135deg);

            &::after {
              display: none;
            }
            &::before {
              content: "";
              display: block;
              position: absolute;
              z-index: 1;
              width: 1px;
              height: 15px;
              background: rgba(255, 255, 255, 0.5);
              transform: rotate(135deg) translate(8px, 0px);
            }
          }
          .swiper-button-next {
            display: block;
            position: relative;
            width: 10px;
            height: 10px;
            border-width: 2px 2px 0 0;
            border-color: rgba(255, 255, 255, 0.8);
            border-style: solid;
            transform: rotate(45deg);
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
// //sect2

// sect3
.sect3 {
  .inner-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .text-box {
      text-align: center;
      margin-top: 200px;
      @media screen and (max-width: 640px) {
        .title {
          font-size: 30px;
        }
        .title-desc {
          font-size: 15px;
        }
      }
    }
    .mn-list {
      position: relative;
      display: flex;
      width: 1000px;
      align-items: flex-end;
      overflow: hidden;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      @media screen and (max-width: 640px) {
        flex-direction: column;
        width: 100%;
      }
      @media screen and (min-width: 641px) {
        width: 100%;
      }
      @media screen and (min-width: 768px) {
        width: 768px;
      }
      @media screen and (min-width: 1280px) {
        width: 1000px;
      }

      li.on {
        background-color: #19a0b5b3;
        border-radius: 20px 20px 0 0;
        max-height: 500px;
        @media screen and (max-width: 640px) {
          border-radius: initial;
        }
        a {
          justify-content: center;
          @media screen and (max-width: 640px) {
            justify-content: space-between;
          }
          div {
            display: block;
          }
        }
      }
      li {
        position: relative;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.4);
        margin: 0 3px 0 0;
        transition: 0.35s;
        transition-timing-function: ease-out;
        max-height: 70px;

        @media screen and (max-width: 640px) {
          border-bottom: 1px solid #ffffff33;
          width: 100%;
          margin: 0;
          transform: none;
          max-height: none;
        }

        &:last-child {
          margin: 0;
          @media screen and (max-width: 640px) {
            border-bottom: none;
          }
        }

        a {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 50px;
          width: 100%;
          height: 100%;
          font-size: 23px;
          font-weight: 500;
          font-family: var(--pre-font);
          padding: 20px;

          @media screen and (max-width: 640px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 500;
          }
          @media screen and (min-width: 641px) {
            font-size: 16px;
            font-weight: 500;
          }
          @media screen and (min-width: 1280px) {
            font-size: 20px;
            font-weight: 500;
          }

          div {
            width: 150px;
            display: none;
            @media screen and (max-width: 640px) {
              width: 100px;
              display: block;
            }
          }
          p {
            position: relative;
            margin-bottom: 70px;
            @media screen and (max-width: 640px) {
              margin-bottom: 0;
            }
            &::after {
              content: "\e9c5";
              position: absolute;
              display: block;
              bottom: -70px;
              left: 50%;
              transform: translateX(-50%);
              font-size: 26px;
              font-weight: 300;
              font-family: var(--icon-font-xe);
              color: #ffffffb2;
              @media screen and (max-width: 640px) {
                opacity: 0;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
}
// //sect3

// sect4
.sect4 {
  > .inner-box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .title {
      margin-top: 140px;
      margin-bottom: 30px;

      @media screen and (max-width: 640px) {
        margin-top: 110px;
      }
    }
    .contents-box {
      position: relative;
      width: calc(100% - 40px);
      max-width: 1500px;
      min-height: 70vh;
      .contents-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        li {
          width: 25%;
          text-align: center;
          background-color: #11111180;
          font-family: var(--pre-font);
          font-size: 24px;
          font-weight: 500;
          box-sizing: border-box;
          transition: 0.35s;
          &:hover,
          &:focus-within {
            box-shadow: 0 0 0 1px #c71c30 inset;
          }
          @media screen and (max-width: 640px) {
            width: 50%;
          }

          a {
            display: block;
            padding: 20px;
            transition: 0.35s;
          }
          a.on {
            background-color: #c71c30;
          }
        }
      }
      .contents-wrap {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        .content.on {
          z-index: 1;
          opacity: 1;
        }
        .content {
          position: absolute;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: -1;
          opacity: 0;
          transition: 0.35s;
          .inner-box {
            position: relative;
            width: calc(100% - 60px);
            overflow: hidden;
            height: 440px;
            > ul {
              display: flex;
              justify-content: space-evenly;
              align-items: flex-start;
              width: 100%;
              li {
                a {
                  &:hover,
                  &:focus-within {
                    img {
                      transform: translate(-50%, -50%) scale(1.2);
                    }
                  }
                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    min-height: 100%;
                    transition: 0.35s;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
          }
          .btn-box {
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 205px;
            left: 0;
            width: 100%;
            z-index: -1;
            opacity: 0;
            transition: 0.35s;
            @media screen and (max-width: 1180px) {
              z-index: 2;
              opacity: 1;
            }
            .prev-btn {
              span {
                border-width: 0 0 3px 3px;
                transform: rotate(45deg);
              }
            }
            .next-btn {
              span {
                border-width: 0 3px 3px 0;
                transform: rotate(-45deg);
              }
            }
            button {
              display: block;
              width: 30px;
              height: 30px;
              padding: 3px;
              margin: 0;
              background-color: transparent;
              border: none;
              cursor: pointer;
              span {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                border-style: solid;
                border-color: #ffffffb6;
              }
            }
          }
          .etc-btn {
            display: block;
            margin-top: 50px;
            padding: 20px 50px;
            border-width: 3px;
            border-style: solid;
            border-color: #fff;
            border-radius: 50px;
            font-family: var(--pre-font);
            font-size: 20px;
            font-weight: 600;
            transition: 0.35s;
            &:hover,
            &:focus-within {
              background-color: #11111180;
              border-color: #c71c30;
              span {
                &::after {
                  transform: translateY(-50%) rotate(180deg);
                }
              }
            }
            span {
              position: relative;
              margin-right: 20px;

              &::after {
                content: "\e914";
                position: absolute;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
                display: block;
                font-family: var(--icon-font-xe);
                font-size: 20px;
                font-weight: 600;
                transition: 0.35s;
              }
            }
          }
        }
        .gallery {
          .inner-box {
            > ul {
              flex-wrap: wrap;
              row-gap: 35px;
              column-gap: 40px;
              width: 100%;
              height: 100%;
              transition: 0.35s;
              @media screen and (max-width: 761px) {
                width: 800%;
                gap: initial;
                flex-wrap: nowrap;
              }
              @media screen and (min-width: 762px) and (max-width: 1180px) {
                flex-wrap: nowrap;
                width: 400%;
                gap: 40px;
                padding: 0 20px;
              }
              @media screen and (min-width: 1181px) and (max-width: 1380px) {
                gap: 20px;
              }
              > li {
                display: block;
                width: 20%;
                overflow: hidden;
                transition: 0.35s;
                @media screen and (max-width: 761px) {
                  width: 100%;
                  height: 100%;
                }
                @media screen and (min-width: 762px) and (max-width: 1180px) {
                  width: 50%;
                  height: 100%;
                }
                @media screen and (min-width: 1181px) and (max-width: 1380px) {
                  width: 20%;
                }
                a {
                  position: relative;
                  display: block;
                  color: #333;
                  font-family: var(--pre-font);
                  font-size: 20px;
                  font-weight: 500;
                  width: 100%;
                  min-height: 200px;
                  @media screen and (max-width: 761px) {
                    height: 100%;
                  }
                  @media screen and (min-width: 762px) and (max-width: 1180px) {
                    height: 100%;
                  }
                  &:hover,
                  &:focus-within {
                    img {
                      transform: translate(-50%, -50%) scale(3);
                    }
                    p {
                      opacity: 1;
                    }
                  }
                  img {
                    display: block;
                    min-height: initial;
                    z-index: 1;
                    transform-origin: center;
                    transform: translate(-50%, -50%) scale(2.8);
                  }
                  p {
                    position: absolute;
                    display: block;
                    z-index: 2;
                    left: 0;
                    bottom: 0;
                    color: #fff;
                    width: 100%;
                    padding: 15px 20px;
                    background-color: #000000ac;
                    font-size: 17px;
                    font-weight: 400;
                    transition: 0.35s;
                    opacity: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @media screen and (max-width: 761px) {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
        #review {
          .inner-box {
            > ul {
              gap: 40px;
              transition: 0.35s;
              @media screen and (max-width: 761px) {
                width: 400%;
                gap: initial;
              }
              @media screen and (min-width: 762px) and (max-width: 1180px) {
                width: 200%;
                gap: 40px;
                padding: 0 20px;
              }
              @media screen and (min-width: 1181px) and (max-width: 1380px) {
                gap: 20px;
              }
              > li {
                display: block;
                width: 25%;
                border-radius: 10px 10px 0 0;
                background-color: #fff;
                overflow: hidden;
                transition: 0.35s;
                @media screen and (max-width: 761px) {
                  width: 100%;
                }
                @media screen and (min-width: 762px) and (max-width: 1180px) {
                  width: 50%;
                }
                @media screen and (min-width: 1181px) and (max-width: 1380px) {
                  width: 25%;
                }

                a {
                  display: block;
                  color: #333;
                  font-family: var(--pre-font);
                  font-size: 20px;
                  font-weight: 500;

                  .img-box {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 250px;
                  }
                  .text-box {
                    width: 100%;
                    height: 140px;
                    padding: 20px;
                    margin-top: 20px;
                    transition: 0.35s;
                    @media screen and (min-width: 1181px) and (max-width: 1380px) {
                      margin-top: 0;
                    }

                    ul {
                      display: flex;
                      justify-content: space-between;
                      font-size: 16px;
                      font-weight: 400;
                      color: #848484;
                      margin-bottom: 20px;
                      padding: 0 10px;

                      li {
                        span {
                          position: relative;
                          margin-left: 20px;
                          &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: -30px;
                            transform: translateY(-50%);
                            font-size: 22px;
                            font-weight: 600;
                            font-family: var(--icon-font-xe);
                          }
                        }
                      }
                      .name {
                        span {
                          &::before {
                            content: "\e9f5";
                          }
                        }
                      }
                      .date {
                        transition: 0.35s;
                        @media screen and (min-width: 1181px) and (max-width: 1380px) {
                          position: absolute;
                          opacity: 0;
                          z-index: -1;
                        }
                        span {
                          &::before {
                            content: "\e9a2";
                          }
                        }
                      }
                    }
                    p {
                      font-size: 18px;
                      font-weight: 500;
                      line-height: 30px;
                      height: 60px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 2;
                    }
                  }
                }
              }
            }
          }
        }
        #video {
          .inner-box {
            > ul {
              > li {
                a {
                  &:hover,
                  &:focus-within {
                    img {
                      transform: translate(-50%, -50%) scale(2);
                    }
                    p {
                      opacity: 1;
                    }
                  }
                  img {
                    display: block;
                    min-height: initial;
                    z-index: 1;
                    transform-origin: center;
                    transform: translate(-50%, -50%) scale(1.8);
                  }
                }
              }
            }
          }
        }

        #news {
          .inner-box {
            > ul {
              flex-wrap: wrap;
              row-gap: 35px;
              column-gap: 40px;
              width: 100%;
              height: 100%;
              transition: 0.35s;
              @media screen and (max-width: 761px) {
                width: 400%;
                gap: initial;
                flex-wrap: nowrap;
              }
              @media screen and (min-width: 762px) and (max-width: 1180px) {
                flex-wrap: nowrap;
                width: 200%;
                gap: 40px;
                padding: 0 20px;
              }
              @media screen and (min-width: 1181px) and (max-width: 1380px) {
                gap: 20px;
              }
              > li {
                display: block;
                width: 20%;
                overflow: hidden;
                transition: 0.35s;
                @media screen and (max-width: 761px) {
                  width: 100%;
                  height: 100%;
                }
                @media screen and (min-width: 762px) and (max-width: 1180px) {
                  width: 50%;
                  height: 100%;
                }
                @media screen and (min-width: 1181px) and (max-width: 1380px) {
                  width: 20%;
                }
                a {
                  &:hover,
                  &:focus-within {
                    img {
                      transform: translate(-50%, -50%) scale(1.2);
                    }
                    p {
                      opacity: 1;
                    }
                  }
                  img {
                    display: block;
                    min-height: initial;
                    z-index: 1;
                    transform-origin: center;
                    transform: translate(-50%, -50%) scale(1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// //sect4
