@import "reset.css";
@import "font.css";
@import "global.css";
/* common */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* 1rem = 10px / 1.5rem = 15px */
}

img {
  max-width: 100%;
}

.title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 8rem;
  letter-spacing: -3px;
  margin: 0 0 25px 0;
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    letter-spacing: -2px;
    margin: 0 0 40px 0;
  }
}
@media screen and (min-width: 641px) {
  .title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: -2px;
    margin: 0 0 35px 0;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 6.5rem;
    letter-spacing: -1px;
    margin: 0 0 25px 0;
  }
}
@media screen and (min-width: 1700px) {
  .title {
    font-size: 6rem;
    font-weight: 500;
    line-height: 8rem;
    letter-spacing: -3px;
    margin: 0 0 25px 0;
  }
}

.title-desc {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: -1px;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 640px) {
  .title-desc {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
}
@media screen and (min-width: 641px) {
  .title-desc {
    font-size: 1.9rem;
    line-height: 2.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .title-desc {
    font-size: 2.1rem;
    line-height: 3.1rem;
  }
}
@media screen and (min-width: 1700px) {
  .title-desc {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
}

/* //common */
/* header */
header {
  position: fixed;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid #fff;
  font-family: var(--pre-font);
  padding: 0 40px;
  color: var(--white);
  transition: 0.35s;
}
header:hover {
  background-color: var(--white);
  color: var(--black100);
}
header:hover .header-box h1 a {
  background-image: url(../img/logo_black.png);
}
@media screen and (max-width: 640px) {
  header {
    height: 60px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 641px) {
  header {
    height: 90px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  header {
    padding: 0 40px;
  }
}
header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .header-box h1 a {
  display: block;
  width: 300px;
  height: 100px;
  background: url(../img/logo.png) no-repeat center center/100%;
  text-indent: -9999px;
}
@media screen and (max-width: 640px) {
  header .header-box h1 a {
    width: 200px;
  }
}
@media screen and (min-width: 641px) {
  header .header-box h1 a {
    width: 250px;
  }
}
@media screen and (min-width: 1280px) {
  header .header-box h1 a {
    width: 220px;
  }
}
@media screen and (min-width: 1700px) {
  header .header-box h1 a {
    width: 300px;
  }
}
header .header-box nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}
header .header-box nav .main-mn-box {
  order: 1;
}
@media screen and (max-width: 640px) {
  header .header-box nav .main-mn-box {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  header .header-box nav .main-mn-box {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  header .header-box nav .main-mn-box {
    display: block;
  }
}
header .header-box nav .main-mn-box > ul {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 1280px) {
  header .header-box nav .main-mn-box > ul {
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1700px) {
  header .header-box nav .main-mn-box > ul {
    gap: 1rem;
  }
}
header .header-box nav .main-mn-box > ul > li {
  position: relative;
}
header .header-box nav .main-mn-box > ul > li > a {
  display: block;
  padding: 30px 20px;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}
header .header-box nav .main-mn-box > ul > li > a:hover {
  color: var(--mainColor);
}
@media screen and (min-width: 1280px) {
  header .header-box nav .main-mn-box > ul > li > a {
    font-size: 1.8rem;
    padding: 30px 10px;
  }
}
@media screen and (min-width: 1400px) {
  header .header-box nav .main-mn-box > ul > li > a {
    font-size: 2rem;
    padding: 30px 15px;
  }
}
@media screen and (min-width: 1700px) {
  header .header-box nav .main-mn-box > ul > li > a {
    font-size: 2.4rem;
    padding: 30px 20px;
  }
}
header .header-box nav .main-mn-box ul li ul .sub-mn-box {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  min-width: 180px;
  padding: 10px 0;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  border-radius: 10px;
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--white);
}
@media screen and (min-width: 1280px) {
  header .header-box nav .main-mn-box ul li ul .sub-mn-box {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1400px) {
  header .header-box nav .main-mn-box ul li ul .sub-mn-box {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1700px) {
  header .header-box nav .main-mn-box ul li ul .sub-mn-box {
    font-size: 1.8rem;
  }
}
header .header-box nav .main-mn-box ul li ul .sub-mn-box li {
  display: block;
  padding: 10px 0;
}
header .header-box nav .main-mn-box > ul > li:hover ul .sub-mn-box {
  display: block;
}
header .header-box .gnb {
  order: 2;
  font-size: 2.5rem;
  font-weight: 600;
}
header .header-box .gnb ul {
  display: flex;
  gap: 10px;
}
header .header-box .gnb ul li a {
  display: block;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 640px) {
  header .header-box .gnb ul li a {
    width: 20px;
    height: 20px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  header .header-box .gnb ul li a {
    width: 20px;
    height: 20px;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1400px) {
  header .header-box .gnb ul li a {
    width: 25px;
    height: 25px;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1700px) {
  header .header-box .gnb ul li a {
    width: 30px;
    height: 30px;
    font-size: 2.5rem;
  }
}
header .header-box .gnb ul li .mn-open-btn {
  overflow: hidden;
}
header .header-box .gnb ul li .mn-open-btn::before {
  content: "\e91c";
  display: block;
  font-family: var(--icon-font-xe);
  width: 100%;
  height: 100%;
}

/* //header */
/* section */
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#sect1 .sect1-box {
  position: relative;
}
#sect1 .sect1-box .scroll-txt-box {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -100px);
}
#sect1 .sect1-box .scroll-txt-box p {
  font-family: var(--pre-font);
  position: relative;
  font-size: 1.8rem;
  color: #fff;
}
#sect1 .sect1-box .scroll-txt-box p::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url(../img/img_vScroll.png) no-repeat center center/100%;
  transform: translate(-50%, 100%);
}
#sect1 .sect1-box .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}
#sect1 .sect1-box .swiper-slide .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  white-space: nowrap;
}
#sect1 .sect1-box .swiper-slide .txt-box p {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 6rem;
}
#sect1 .sect1-box .swiper-slide .txt-box p b {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: -2px;
}
#sect1 .sect1-box .swiper-slide .txt-box p i {
  font-size: 7rem;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .swiper-slide .txt-box {
    text-align: center;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 5rem;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p b {
    font-size: 2.5rem;
    font-weight: 500;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p i {
    font-size: 4.2rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
}
@media screen and (min-width: 641px) {
  #sect1 .sect1-box .swiper-slide .txt-box p {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 5rem;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p b {
    font-size: 3.8rem;
    font-weight: 500;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p i {
    font-size: 5.8rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
}
@media screen and (min-width: 1280px) {
  #sect1 .sect1-box .swiper-slide .txt-box p {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 5rem;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p b {
    font-size: 3.8rem;
    font-weight: 500;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p i {
    font-size: 5.8rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
}
@media screen and (min-width: 1400px) {
  #sect1 .sect1-box .swiper-slide .txt-box p {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 6rem;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p b {
    font-size: 4rem;
    font-weight: 500;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p i {
    font-size: 6.2rem;
    font-weight: 500;
    letter-spacing: -1px;
  }
}
@media screen and (min-width: 1700px) {
  #sect1 .sect1-box .swiper-slide .txt-box p {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 6rem;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p b {
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -2px;
  }
  #sect1 .sect1-box .swiper-slide .txt-box p i {
    font-size: 7rem;
    font-weight: 500;
  }
}
#sect1 .sect1-box .swiper-slide .img-box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#sect1 .sect1-box .slide1 .txt-box {
  text-align: center;
  transform: translate(-50%, -70%);
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .slide1 .txt-box {
    transform: translate(-50%, -70%);
  }
}
@media screen and (min-width: 1700px) {
  #sect1 .sect1-box .slide1 .txt-box p {
    line-height: 8rem;
  }
}
#sect1 .sect1-box .slide1 .img-box {
  background: url(../img/v_img01_sdown.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .slide2 .txt-box {
    transform: translate(-50%, -60%);
  }
}
@media screen and (min-width: 1280px) {
  #sect1 .sect1-box .slide2 .txt-box {
    transform: translate(-160%, 40%);
  }
}
@media screen and (min-width: 1700px) {
  #sect1 .sect1-box .slide2 .txt-box {
    transform: translate(-150%, 50%);
  }
}
#sect1 .sect1-box .slide2 .img-box {
  background: url(../img/v_img02.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .slide3 .txt-box {
    transform: translate(-90%, -300%);
  }
}
@media screen and (min-width: 1280px) {
  #sect1 .sect1-box .slide3 .txt-box {
    transform: translate(-170%, -250%);
  }
}
@media screen and (min-width: 1700px) {
  #sect1 .sect1-box .slide3 .txt-box {
    transform: translate(-160%, -200%);
  }
}
#sect1 .sect1-box .slide3 .img-box {
  background: url(../img/v_img03.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .slide4 .txt-box {
    transform: translate(-50%, -20%);
  }
}
@media screen and (min-width: 1280px) {
  #sect1 .sect1-box .slide4 .txt-box {
    transform: translate(-110%, -80%);
  }
}
@media screen and (min-width: 1700px) {
  #sect1 .sect1-box .slide4 .txt-box {
    transform: translate(-110%, -70%);
  }
}
#sect1 .sect1-box .slide4 .img-box {
  background: url(../img/v_img04.jpg) no-repeat center center/cover;
}
#sect1 .sect1-box .slide5 .txt-box {
  transform: translate(-50%, -50%);
}
#sect1 .sect1-box .slide5 .img-box {
  background: url(../img/v_img05.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 640px) {
  #sect1 .sect1-box .slide6 .txt-box {
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1280px) {
  #sect1 .sect1-box .slide6 .txt-box {
    transform: translate(-50%, -210%);
  }
}
#sect1 .sect1-box .slide6 .img-box {
  background: url(../img/v_img06.jpg) no-repeat center center/cover;
}
#sect1 .sect1-box .slide7 .txt-box {
  transform: translate(-50%, -50%);
}
#sect1 .sect1-box .slide7 .img-box {
  background: url(../img/v_img07.jpg) no-repeat center center/cover;
}

#sect2 {
  position: relative;
  background-image: url(../img/section01.jpg);
}
#sect2 .sect2-box {
  color: #fff;
  text-align: center;
  margin: 220px 0 0 0;
}
#sect2 .sect2-box .application-btn {
  font-family: var(--pre-font);
  display: block;
  margin: auto;
  width: 320px;
  padding: 25px 0;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
#sect2 .sect2-box .application-btn::after {
  content: "\e907";
  font-family: var(--icon-font-xe);
  display: inline-block;
  margin: 0 0 0 10px;
}
#sect2 .sect2-box ul {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  width: 1000px;
  height: 220px;
  transform: translateX(-50%);
}
@media screen and (max-width: 640px) {
  #sect2 .sect2-box ul {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 641px) {
  #sect2 .sect2-box ul {
    width: 100%;
    height: 180px;
  }
}
@media screen and (min-width: 768px) {
  #sect2 .sect2-box ul {
    width: 768px;
    height: 190px;
  }
}
@media screen and (min-width: 1280px) {
  #sect2 .sect2-box ul {
    width: 1000px;
    height: 220px;
  }
}
#sect2 .sect2-box ul li {
  position: relative;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 3px 0 0;
}
@media screen and (max-width: 640px) {
  #sect2 .sect2-box ul li {
    width: 100%;
    height: 80px;
  }
}
#sect2 .sect2-box ul li:last-child {
  margin: 0;
}
#sect2 .sect2-box ul li:hover::after {
  height: 100%;
}
#sect2 .sect2-box ul li:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 0;
  background-color: #22adb9;
  transition: 0.35s;
}
#sect2 .sect2-box ul li:nth-child(1):hover::after {
  height: 100%;
}
#sect2 .sect2-box ul li:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 0;
  background-color: #1b5bbe;
  transition: 0.35s;
}
#sect2 .sect2-box ul li:nth-child(2):hover::after {
  height: 100%;
}
#sect2 .sect2-box ul li:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 0;
  background-color: #d93f69;
  transition: 0.35s;
}
#sect2 .sect2-box ul li:nth-child(3):hover::after {
  height: 100%;
}
#sect2 .sect2-box ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  font-weight: 500;
  font-family: var(--pre-font);
}
@media screen and (max-width: 640px) {
  #sect2 .sect2-box ul li a {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 641px) {
  #sect2 .sect2-box ul li a {
    font-size: 1.9rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  #sect2 .sect2-box ul li a {
    font-size: 2.3rem;
    font-weight: 500;
  }
}
#sect2 .sect2-box ul li a .icon-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  #sect2 .sect2-box ul li a .icon-box {
    align-items: start;
    padding: 0 0 0 30px;
  }
  #sect2 .sect2-box ul li a .icon-box::after {
    content: "\e93f";
    display: block;
    position: absolute;
    right: 20px;
    font-family: var(--icon-font-xe);
  }
}
#sect2 .sect2-box ul li a .icon-box img {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 640px) {
  #sect2 .sect2-box ul li a .icon-box img {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  #sect2 .sect2-box ul li a .icon-box img {
    margin: 0 0 25px 0;
  }
}
@media screen and (min-width: 1280px) {
  #sect2 .sect2-box ul li a .icon-box img {
    margin: 0 0 30px 0;
  }
}

#sect3 {
  background-image: url(../img/section02.jpg);
  color: #fff;
}
#sect3 .sect3-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 0;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #sect3 .sect3-box {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  #sect3 .sect3-box {
    width: 850px;
  }
}
@media screen and (min-width: 1000px) {
  #sect3 .sect3-box {
    width: 950px;
  }
}
@media screen and (min-width: 1100px) {
  #sect3 .sect3-box {
    width: 1030px;
  }
}
@media screen and (min-width: 1280px) {
  #sect3 .sect3-box {
    width: 1200px;
  }
}
@media screen and (min-width: 1700px) {
  #sect3 .sect3-box {
    width: 1500px;
  }
}
#sect3 .sect3-box .event-desc-box ul li {
  width: 55%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4862745098);
}
#sect3 .sect3-box .event-desc-box ul li:nth-child(2) a span img {
  top: -3px;
  left: 4px;
}
#sect3 .sect3-box .event-desc-box ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  font-family: var(--pre-font);
  font-size: 2rem;
  opacity: 0.7;
  transition: 0.35s;
}
#sect3 .sect3-box .event-desc-box ul li a:hover {
  opacity: 1;
}
#sect3 .sect3-box .event-desc-box ul li a::after {
  content: "\e93e";
  display: block;
  position: absolute;
  font-family: var(--icon-font-xe);
  top: 25px;
  right: 8px;
}
#sect3 .sect3-box .event-desc-box ul li a span {
  position: relative;
  padding: 0 0 0 40px;
}
#sect3 .sect3-box .event-desc-box ul li a span img {
  position: absolute;
  left: 10px;
}
#sect3 .sect3-box .swiper-box {
  position: relative;
  overflow: hidden;
  width: 470px;
  height: 520px;
  font-family: var(--pre-font);
}
#sect3 .sect3-box .swiper-box .swiper-slide {
  padding: 90px 0 0 50px;
}
#sect3 .sect3-box .swiper-box .swiper-slide .slide-box {
  border: 1px solid transparent;
  width: 420px;
  height: 430px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}
#sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
  position: absolute;
  z-index: 1;
  width: 428px;
  top: -90px;
  left: -70px;
}
@media screen and (max-width: 640px) {
  #sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
    width: 368px;
    top: -40px;
    left: -20px;
  }
}
@media screen and (min-width: 641px) {
  #sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
    width: 368px;
    top: -40px;
    left: -20px;
  }
}
@media screen and (min-width: 768px) {
  #sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
    width: 368px;
    top: -40px;
    left: -20px;
  }
}
@media screen and (min-width: 900px) {
  #sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
    width: 368px;
    top: -40px;
    left: -20px;
  }
}
@media screen and (min-width: 1100px) {
  #sect3 .sect3-box .swiper-box .swiper-slide .slide-box img {
    width: 428px;
    top: -90px;
    left: -70px;
  }
}
#sect3 .sect3-box .swiper-box .swiper-slide .slide-box .text-box {
  margin: 220px 0 0 0;
  padding: 30px;
  line-height: 3rem;
}
#sect3 .sect3-box .swiper-box .swiper-slide .slide-box .text-box h3 {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 0 0 10px 0;
}
#sect3 .sect3-box .swiper-box .swiper-slide .slide-box .text-box p {
  font-size: 1.9rem;
  font-weight: 300;
}
#sect3 .sect3-box .swiper-box .swiper-button-prev {
  display: block;
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-width: 2px 2px 0 0;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  transform: rotate(-135deg);
  top: 64%;
  left: 76%;
}
#sect3 .sect3-box .swiper-box .swiper-button-prev::after {
  display: none;
}
#sect3 .sect3-box .swiper-box .swiper-button-prev::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 1px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(135deg) translate(8px, 0px);
}
#sect3 .sect3-box .swiper-box .swiper-button-next {
  display: block;
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-width: 2px 2px 0 0;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  transform: rotate(45deg);
  top: 64%;
  left: 82%;
}
#sect3 .sect3-box .swiper-box .swiper-button-next::after {
  display: none;
}

#sect4 {
  background-image: url(../img/section03.jpg);
  background-position: right;
}

#sect5 {
  background-image: url(../img/section04.jpg);
  background-position: right;
}

/* //section */
footer .footer-box {
  height: 200px;
  background-color: #2a2d34;
}