.flex {
    display: flex;
    align-items: center;

}

header {
    position: relative;

    max-width: 1500px;
    margin: auto;

}

nav {
    height: 100px;
    border: 1px solid #f00;
 padding: 10px;
}

nav a {
    display: block;

}

li.main-menu {
    position: relative;
    flex-shrink: 0;
}

li.main-menu>a {
    transition: .35s;
    padding: 10px
}


.left-gnb {
    position: absolute;

}

.left-gnb:hover li.main-menu>a {
    padding-right: 50px;
}

.right-gnb {
    position: absolute;
    right: 10px;
    gap: 10px
}

.right-gnb button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.right-gnb:hover a {
    padding-left: 50px;
}

li.main-menu:hover>a {
    color: skyblue;

}

.sub-menu {
    display: block;
    height: 0;
    overflow: hidden;
    transition: .35s;
    position: absolute;
    top: 100%;
    width: 130%;

}

.sub-menu a {
    padding: 5px;
}

/*-----------------------------------------------*/



nav .left-menu a span.hover {
    display: none;
}

nav .left-menu:hover a span.on {
    display: none;
}

nav .left-menu:hover a span.hover {
    display: block;
}

.left-gnb {
    position: absolute;
    left: 210px
}


@media screen and (max-width:770px) {
.left-gnb{display: none;}
h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
}
@media screen and (min-width:1500px) {
 
    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .left-gnb {
        position: absolute;
        left: 0px
    }

}